---
---
<!-- get modelType -->
{% include fragment-modelType.html id='vaccine-group-map' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='vaccine-group-map' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: VaccineGroupMap - Change History</h2>
{% include fragment-simpletable.html %}
  <p>Changes in the vaccine-group-map {{modelType | downcase}}.</p>

  {%include StructureDefinition-vaccine-group-map-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
